$firs-bg: #f4ece8;
$second-bg: #fff;
$green-bg: rgba(5, 158, 178, 1);
$orange-bg: rgba(243, 146, 0, 1);

body{
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 400;
}
.header_link{
    font-size: 13px;
    font-weight: 500;
    color: rgba(61, 57, 53, 1);
    line-height: 140%;
    &:hover{
        color: #f39200;
    }
}
.headmain{
    background: linear-gradient(270deg, rgba(112,108,108,1) 0%, rgba(11,10,10,0.8324463574492297) 38%, rgba(243,246,247,0) 100%), url(../img/bg1.png) center/cover no-repeat;
    margin-top: 92px;
}
.mainh{
    font-family: 'Abhaya libre';
    font-size: 60px;
    color: #fff;
    padding-top: 300px;
}
.maint{
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}
.orange{
    font-size: 9px;
    font-weight: 600;
    color: #f39200;
}
.card-title{
    font-size: 18px;
    font-weight: 500;
    color: #3d3935;
}
.head-text{
    margin: 7px 9px 0px 15px;
}
.text{
    font-size: 13px;
    font-weight: 700;
}
h2{
    font-family: 'Abhaya libre';
    font-size: 60px;
    font-weight: 700;
    color: #000;
    margin: 0;
}
.orangesec{
    font-size: 13px;
    font-weight: 500;
    color: #f39200;
}
.texting{
    font-family: 'Abhaya libre';
    font-size: 40px;
    font-weight: 700;
    color: #000;
}
.btcov:hover{
    background-color: blue;
}
.textsec{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Noto Serif';
    line-height: 19px;
    padding-top: 25px;
}
.news{
    background-color: $firs-bg;
}
.mtext{
    font-size: 9px;
    font-weight: 400;
}
.mondibg{
    background-color: $firs-bg;
}
.mond{
    font-size: 24px;
    font-weight: 500;
}
.mond-yach{
    margin-top: 100px;
}
.yacheika{
    width: 200px;
    height: 136px;
}
.cherniy{
    background-color: #000;
    width: 122px;
    height: 122px;
    position: relative;
    left: 29px;
    bottom: 55px;
}
.montext{
    font-weight: 500;
    line-height: 140%;
    position: relative;
    bottom: 24px;
}
.turtorial{
    background-color: $firs-bg;
}
.lor{
    font-family: 'Abhaya libre';
    font-size: 30px;
    font-weight: 700;
    color: #000;
}
.spons{
    background-color: $firs-bg;
}
.mond{
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
.cartext{
    font-size: 13px;
    font-weight: 400;
    color: #000;
    padding-top: 70px;
    padding-bottom: 70px;
}
.carousel-control-prev{
    width: 3%;
    padding: 10px;
}
.carousel-control-next{
    width: 3%;
    padding: 10px;
}
.vieni{
    background-color: $firs-bg;
}
.vblock{
    padding: 80px 80px 80px 80px;
}
.vien{
    font-family: 'Abhaya libre';
    font-size: 60px;
    font-weight: 700;
    color: #000;
    line-height: 60px;
}
.abil{
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
.green{
    background-color: $green-bg;
    padding: 55px;
    border-radius: 0px 5px 0px 0px;
}
.gr-img{
    padding-right: 50px;
}
.rom{
    font-family: 'Abhaya libre';
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.romt{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.rom-link:hover{
    background-color: orange;
}
.rom-link-or:hover{
    background-color: green;
}
.oran{
    background-color: $orange-bg;
    padding: 55px;
    border-radius: 0px 0px 5px 0px;
}
.nost{
    background-color: $firs-bg;
}